<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/materialize/materialize.min.css">
    <link rel="stylesheet" href="/materialize/font-awesome5.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBook</title>
</head>
<body>
    {{> navbar}}
    {{> addButton}}
    <div class="container">
        
        {{{body}}}

    </div>



        <!-- Compiled and minified JavaScript -->
    <script src="/materialize/materialize.min.js"></script>
    <script src="/materialize/font-awesome5.min.js"></script>
    {{!-- <script src="/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script> --}}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>


    <script>
        M.Sidenav.init(document.querySelector(".sidenav"))
        M.FormSelect.init(document.querySelector("#status"))

        CKEDITOR.replace("body", {
            plugins: "wysiwygarea, toolbar, basicstyles, link"
        })

    </script>
            
</body>
</html>